@model IEnumerable<Entidades.Image>

@{
    ViewData["Title"] = "Traer";
}

<h1>Galeria de Imagenes</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card shadow-sm">
                <img src="data:image/png;base64,@Convert.ToBase64String(item.Data)"
                     class="card-img-top"
                     alt="@item.FileName" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FileName)</h5>
                   @*  <p class="card-text">Descripción de la imagen aquí</p> *@
                    <a href="@Url.Action("Download", new { id = item.Id })" class="btn btn-primary">Descargar Imagen</a>
                </div>
            </div>
        </div>
    }
</div>
